html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  height: 100%;
  margin: 0 auto;
  width:70%;
}

.page {
   display: flex;
   flex-flow: column;
   flex-grow: 1;
   padding: 16px 0;
}
